.bg-main {
    background: hsl(234, 17%, 12%);
    background-image: url("images/bg-stars.svg");
}

.bg-footer {
    background-image: url("images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-cards {
    background-image: linear-gradient(hsl(235, 16%, 14%), #2C2C44);
    background-size: 50% 50%;
}

.letter-space {
    letter-spacing: 0.5rem;
}

.font-weight-bold {
    font-weight: bold;
}

.card {
    width: 8rem;
    height: 8rem;
    color: hsl(345, 95%, 68%);
    font-size: 3rem;
    line-height: 1;
    padding-top: 2.25rem;
    text-align: center;
    border-bottom-left-radius:25px ;

}

.main-text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin-left: auto !important;
    margin-right: auto !important;
}

.w-full {
    width: 100%;
}
.h-12{
    height:12rem;
}
.position{
    position: absolute;
    bottom: 0;
 }
.date {
    color: #2C2C44;
    padding-top: 2rem;
    text-align: center;
}
.mt-10{
margin-top: 10rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.pl-2{
    padding-left: 2rem;
}

@media (max-width:640px ) {
    .card-sm {
        width: 4rem;
        height: 4rem;
        color: hsl(345, 95%, 68%);
        font-size: 2rem;
        line-height: 1;
        padding-top: 1rem;
        text-align: center;
    }
    .date-sm {
        color: #2C2C44;
        padding-top: 2rem;
        text-align: center;
        font-size: small;
    }
}
@media (max-width:321px ){
    .card-xs {
        width: 3rem;
        height: 3rem;
        color: hsl(345, 95%, 68%);
        font-size: 1.5rem;
        line-height: 1;
        padding-top: 0.5rem;
        text-align: center;
    }
    .date-xs {
        color: #2C2C44;
        padding-top: 2rem;
        text-align: center;
        font-size: x-small;
    }
}
@media (max-width:280px ){
    .card-fold {
        width: 2rem;
        height: 2rem;
        color: hsl(345, 95%, 68%);
        font-size: 1rem;
        line-height: 1;
        padding-top: 0.5rem;
        text-align: center;
    }
    .date-fold {
        color: #2C2C44;
        padding-top: 1rem;
        text-align: center;
        font-size: xx-small;
    }
}
